body{
    background-color:#f4f7f6 ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: maroon;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.user{
    font-size: 1.10rem;
    font-weight: 600;
}
.content{
    font-size: 1rem;
    color: #333;
}
.btn-outline-maroon {
    color: maroon;
    border-color: maroon;
}

.btn-outline-maroon:hover {
    background-color: maroon;
    color: white;
}
.action-btn a{
    font-size: 0.7rem;
}
.action-btn button{
    font-size: 0.7rem;
}


@media (max-width: 768px) {
    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}